/*Footer*/
.footer 
{
    /*background-color: #24262b; */
    background: linear-gradient(to right, white 50%, rgb(189, 179, 125));
    padding: 70px 0;
}


.row 
{
    display: flex;
    flex-wrap: wrap;  
}


.footer-col .ulistFooter
{
    list-style: none;
}


.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4
{
    font-size: 18px;
    /*color: #ffffff;*/
    color: #24262b;
    text-transform: capitalize;
    margin-bottom: 35px;
    margin-top: 25px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: goldenrod;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .ulistFooter li:not(:last-child) 
{
    margin-bottom: 7px;
}

.footer-col .ulistFooter li, .nav-link {
    font-size: 17px;
    text-transform: capitalize;
    /*color: #ffffff; */
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .ulistFooter li, .nav-link:hover {
    color: #858383;
    padding-left: 5px;
}

.footer-col .social-links .nav-link {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /*color: #fffefa;*/
    
    transition: all 0.5s ease;
}

.footercr {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    /*color: #ffffff;
    color: #bbbbbb; */
    color: #24262b;
}

.contactno {
    margin-top: 10px;  
    /*color: #fffefa;
    color: #bbbbbb; */
}

.cupar {
    text-align: left;
}


/*responsive CSS*/
@media (max-width: 768px) {
   .footer {

    z-index: -1;
   }

   .row {

        flex-direction: column;
    }

   
}