/*Pricing styling*/
.pricingTitleHeader
{
   
    display: block;
    text-align: left;
    padding: 15px;  
}

.pricingOptionCont
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100%;
}


.pricingOpt
{
    /*display: block; */
    width: 350px;
    height: 350px;
    padding: 15px;
}

.pricingpic 
{
    width: 210px;
    border-radius: 10%;
}

/*Hover effects */
.pricingOpt:hover
{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.pricingOpt:hover p
{
    color: black;
}

.pricingOpt:hover h2
{
    color: wheat;
}

/*responsive CSS - media queries*/
@media(min-width: 390px) and (max-width: 844px) {

    .pricingTitleHeader {

        margin: auto;
        margin-top: 5%;
    }

    .pricingTitleHeader p {

        font-size: 12px;
    }

    .pricingOptionCont {
        
        position: relative;
        margin-top: -60%;
        font-size: 11px;
    }

    .pricingpic {
        display: none;
    }

    .pricingOpt {

        height: 200px;
        margin: auto;
    }
}

@media(max-width: 1200px) {

    .pricingTitleHeader {
        
        position: relative;
    }

    .pricingOptionCont {
        
        position: relative;
    }
}